<h1>New User</h1>
 
<%= form_with model: @user, local: true do |form| %>
  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, :required => true %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<%= link_to 'Back', interviews_path %>